# Ignore Python-specific compiled files.
**/__pycache__/
**.pyc
**.egg-info
**.wheel

# Ignore data-sensitive environment files.
.env
frontpage.json
psql_data/

# Note: This is required if supporting multiple Python versions.
Pipfile.lock

# IDE-based files
.vscode/

# Filesystem hidden files
.DS_Store
