{% extends "default.html" %}
{% block title %}Welcome to AppDB - Candella AppDB {% endblock %}
{% block content %}
<div class="p-strip--suru-topped">
    <div class="row">
        <h2>How will you use AppDB?</h2>
        <p>
            Welcome to Candella AppDB, {{ account.username }}! We're glad you registered an account with us.
            Your account is almost ready to go, but we just need you to select how you will be using your
            account.
        </p>
    </div>
    <div class="row">
        <form action="{{ url_for('update_account_type') }}" method="post">
            <label class="p-radio">
                <input class="p-radio__input" type="radio" name="account_type" id="0" value="0" checked="">
                <span class="p-radio__label" id="0">I am a user</span>
            </label>
            <p class="u-text--muted">
                You can leave reviews and ratings on all projects in AppDB.
            </p>
            <label class="p-radio">
                <input class="p-radio__input" type="radio" name="account_type" id="1" value="1">
                <span class="p-radio__label" id="1">I am a developer</span>
            </label>
            <p class="u-text--muted">
                Upload and manage projects on AppDB and read reviews from users with ease.
            </p>
            <button type="submit">Finish setup</button></form>
        </form>
    </div>
</div>
{% endblock %}