{% extends "default.html" %}
{% block title %} {{ app.name }} - Candella AppDB{% endblock %}
{% block content %}
<div class="p-strip--dark">
    <div class="cc-project-detail row">
        <div>
            <img src="{% if app.icon %}{{ app.icon }}{% else %}{{ url_for('static', filename='img/default_project.png') }}{% endif %}"
                class="cc-project-detail--icon" />
        </div>
        <div class="cc-project-detail--basic_info">
            <p class="p-heading--2">{{ app.name }}
                {% if app.latest_version %}
                <span class="p-heading--4 u-text--muted">v{{ app.latest_version }}</span>
                {% endif %}
            </p>
            <p class="u-text--muted">
                {{ app.description }}
            </p>
            <p>
                <button class="p-button p-button--accent"
                    onclick="window.location.href='{% if app.releases | length > 0%}{{ app.releases[0].download }}{% else %}#{% endif %}';"
                    {% if app.releases|length==0 %} disabled=""
                    title="There are no downloadable releases for this project yet." {% endif %}>
                    Get
                </button>
                {% if session.get('cuid') == app.developer %}
                <a class="p-button" href="{{ url_for('developer.edit_project', id=app.id) }}">Manage</a>
                {% endif %}
            </p>
        </div>
        <div class="cc-project-detail--dev_info">
            <p class="p-heading--4">
                <a href="{{ url_for('userland.developer_detail', developer_id=dev.userid) }}">{{ dev.name }}</a>
            </p>
            <p class="u-text--muted">{{ app.license }}</p>
        </div>
    </div>
</div>
{% if app.screenshots %}
<div class="p-strip">
    <div class="row">
        <h2 class="p-heading--3">Screenshots</h2>
    </div>
    <div class="row">
        {% for screenshot in app.screenshots[:2] %}
        <div class="col-6">
            <img src="{{ screenshot }}" />
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if app.releases %}
<div class="p-strip">
    <div class="row">
        <h2 class="p-heading--3">What's new in this release</h2>
        <p>{{ app.releases[0]["notes"] }}</p>
    </div>
</div>
{% else %}
<div class="p-strip--light is-shallow">
    <div class="row">
        <p class="p-heading--6"><i class="p-icon--warning"></i>
            The developer has not listed any new downloadable releases.</p>
        <p>
            The developer may be updating this project with new releases or their project
            doesn't comply with the AppDB project guidelines.
        </p>
    </div>
</div>
{% endif %}
<div class="p-strip">
    <div class="row">
        <h2 class="p-heading--3">About this {{ app.type }}</h2>
        <p>
            {% if app.blurb %}
            {{ app.blurb }}
            {% else %}
            No description has been provided for this {{ app.type }}.
            {% endif %}
        </p>
    </div>
</div>
<div class="p-strip--light">
    <div class="row">
        <h2 class="p-heading--3">Permissions</h2>
        {% if permissions | length > 0 %}
        <p>
            The developer has noted that this {{ app.type }} needs the following permissions to function correctly.
            {% if app.type == "app" %}You can review these permissions anytime in the App Manager when installed.{%
            endif %}
        </p>
        {% for permission in permissions %}
        <p class="p-heading--4">
            <i class="p-icon--anchor"></i>&nbsp;{{ permission["readablename"] }}
        </p>
        <p>{{ permission["description"] }} </p>
        {% endfor %}
        {% else %}
        <p>
            <i class="p-icon--success"></i> The developer has not requested any special system permissions for this
            {{ app.type }}.
        </p>
        {% endif %}
    </div>
</div>
<div class="p-strip">
    <div class="row">
        <h2 class="p-heading--3">Ratings and reviews</h2>
        {%if reviews%}
        {% for review in reviews %}
        <div class="col-4">
            {% include "components/review_card.html" %}
        </div>
        {% endfor %}
        {%else%}
        <div class = "col-8">
            <span>There are no reviews for this {{ app.type }}. Be the first to leave a review!</span>
            <button class = "p-button--accent is-inline" id="review-add-btn" aria-label="add review" aria-controls="addreview">Add Review</button>
        </div>
        {%endif%}
        <div class = "p-modal" id = "addreview" style = "display: none;">
            <section class="p-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-description">
                <header class="p-modal__header">
                    <h2 class="p-modal__title" id="modal-title">Add Review</h2>
                    <button class="p-modal__close" aria-label="Close active modal" aria-controls="addreview">Close</button>
                  </header> 
                  <form id = "review-form"class="p-form" action = "{{ url_for('userland.add_project_review') }}" method="POST">
                    <input type = "hidden" name = "project_id" value = "{{app.id}}">
                    <div class="fieldset">
                        <label>Rating</label>
                        <div class="row">
                         <input type = "text" name = "rating" placeholder="Please give rating out of 5">
                         <textarea id="textarea" name="comments" rows="3"></textarea>
                        <footer class="p-modal__footer">
                            <button class="p-button--accent u-no-margin--bottom" type = "submit">Submit</button>
                        </footer>
                        </div>
                      </div>
                  </form>
            </section>
        </div>
    </div>
    {%if reviews%}
    <div class="row">
        <div class = "col-8">
            <button class = "p-button--accent" id="review-add-btn" aria-label="add review" aria-controls="addreview">Add Reivew</button>
        </div>
    </div>
    {%else%}
    {%endif%}
</div>
<div class="p-strip">
    <div class="row">
        <h2 class="p-heading--3">More from {{ dev.name }}</h2>
    </div>
    <div class="row">
        {% for project in rel[:3] %}
        <div class="col-4">
            {% include "components/project_card.html" %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}