{% extends "default.html" %}
{% block title %} {{ developer.name }} - Candella AppDB {% endblock %}
{% block content %}
<div class="p-strip--dark">
    <div class="row">
        <h1>{{ developer.name }}</h1>
        <p><a class="p-button--brand" href="mailto:{{ developer.email }}">Contact</a></p>
    </div>
</div>
<div class="p-strip">
    <div class="row">
        <h2>Projects by this developer</h2>
    </div>
    <div class="row">
        {% for project in projects %}
        <div class="col-4">
            {% with dev=developer %}
            {% include "components/project_card.html" %}
            {% endwith %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}