{% extends "default.html" %}
{% block title %}Curated Lists - Candella AppDB{% endblock %}
{% block content %}
<div class="p-strip--suru">
    <div class="row">
        <h1>Need a recommendation?</h1>
        <p>
            The Candella AppDB team has curated and devised some lists which may be of interest
            to you. Check out what some of our recommendations are!
        </p>
    </div>
</div>
{% for list in lists %}
<div id="rxw-curated-list__id-{{ list.listid }}" class="p-strip is-shallow">
    <div class="row">
        <h2>{{ list.name }}</h2>
        <p>{{ list.blurb | truncate(80) }}</p>
        <p><a class="p-button" href="{{ url_for('userland.list_detail', id=list.listid) }}">Show more &rsaquo;</a></p>
    </div>
    <div class="row">
        {% for project in projects[list.listid][:3] %}
        <div class="col-4">
            {% include "components/project_card.html" %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% if lists | length < 1 %}
<div class="p-strip">
    <div class="row" id="rxw-lists__missing-lists">
        <p class="p-heading--6"><i class="p-icon--warning"></i> No curated lists were found.</p>
        <p>
            It may be possible that curators are still analyzing the projects on this AppDB and creating lists.
            Refresh the page or visit this page at a later time.
        </p>
    </div>
    </div>
{% endif %}
{% endblock %}