/* This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.cc-header {
  background-color: #212121;
  color: #f4f4f4;
  height: auto;
}

.cc-header p {
  font-size: 0.7em;
  margin: 1px 0;
  padding: 0;
}

.cc-jumbotron .small-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

.cc-jumbotron .project-title {
  margin-top: 0;
  padding-top: 0 !important;
}
