{% extends "default.html" %}
{%block title%}Dashboard - Candella AppDB{% endblock %}
{% block content %}
<div class="p-strip--suru-topped is-branded">
    <div class="row">
        <h1>Howdy, {{ developer.name }}.</h1>
        <p>
            Welcome to your dashboard. View your most recent releases and manage
            your projects here.
        </p>
        <p>
            <p><a class="p-button--positive" href="{{ url_for('developer.create_project' )}}">New project</a></p>
        </p>
    </div>
</div>
<div class="p-strip">
    <div class="row">
        <h2>My projects</h2>
    </div>
    {% for project in projects %}
    {% include "components/project_list.html"%}
    {% endfor %}
</div>
{% endblock %}