{% extends "default.html" %}
{% block title %}Manage '{{ list.name }}' - Candella AppDB{% endblock %}
{% block content %}
<div class="p-strip--suru-topped">
    <div class="row">
        <p><a class="p-button" href="{{ url_for('curator.lists_dashboard') }}">&lsaquo; Back to lists</a></p>
        <h2>Manage list</h2>
        <p>
            Use the form below to update details about this list. To add or remove projects from this list,
            delete the list and then create a new list with the updated projects list.
        </p>
    </div>
    <div class="row">
        <div class="col-10">
            <form action="{{ url_for('curator.update_list_request') }}" method="POST">
                <label for="newListName">List name</label>
                <input type="hidden" name="id" value="{{ list.listid }}"/>
                <input type="text" name="name" id="newListName" placeholder="List name" value="{{ list.name }}">

                <label for="newListBlurb">What makes this list special?</label>
                <textarea id="listBlurb" name="blurb" rows="8">{{ list.blurb }}</textarea>
                <button class="p-button--positive" type="submit">Update list</button>
            </form>
        </div>
    </div>
</div>
<div class="p-strip">
    <div class="row">
        <h3>Delete list</h3>
        <p>
            Deleting this list will remove it from the curator list catalog and remove any associations
            a project has with this list. <i>This action cannot be undone.</i>
        </p>
        <p><button class="p-button--negative" id="showModal" aria-controls="modal">Delete…</button></p>
        
    </div>
</div>
<div class="p-modal" id="modal" style="display: none;">
    <section class="p-modal__dialog" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description">
        <header class="p-modal__header">
            <h2 class="p-modal__title" id="modal-title">Confirm delete</h2>
            <button class="p-modal__close" aria-label="Close active modal" aria-controls="modal">Close</button>
        </header>
        <p>Are you sure you want to delete the list "{{ list.name }}"? This action is permanent and cannot be undone.</p>
        <footer class="p-modal__footer">
            <form action="{{ url_for('curator.delete_list_request', list_id=list.listid) }}" method="POST">
                <input type="hidden" name="id" value="{{ list.listid }}">
                <button class="u-no-margin--bottom" aria-controls="modal">Cancel</button>
                <button type="submit" class="p-button--negative u-no-margin--bottom">Delete</button>
            </form>
        </footer>
    </section>
</div>
{% endblock %}